[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
python-decouple = "*"
"psycopg2-binary" = "*"
django-compressor = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.6"
